
@media screen and (max-width: 1130px) {
  .lines {
    display: none;
  }
  .aside {
    display: none;
  }

  .grid {
    padding: 0 20px;
    width: 100%;
  }

  .h1 {
    margin-top: 200px;
  }

  .section__lines__container {
    display: none;
  }

  .section__four__grid {
    flex-direction: column;
  }

  .section__four__email__info {
    word-break: break-all;
  }

  .section__four__info:first-child {
    margin-right: 40px;
  }

  .section__four__info:last-child {
    margin-left: 40px;
  }

  .section__four__info {
    margin: 0 auto 0 0;
  }

}

@media screen and (max-width: 876px) {

  .section__four__email {
    width: 552px;
  }

  .section__four__grid {
    flex-direction: column;
  }

  .section__four__info:first-child {
    margin-right: 0;
  }

  .section__four__info:last-child {
    margin-left: 0;
  }

  .section__third__text {
    width: auto;
  }

  .section__second__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      margin: 0;
      margin-bottom: 50px;
    }

    &__text {
      text-align: justify;
    }
  }

  .h1 {
    margin-top: 200px;
  }

}


@media screen and (max-width: 750px) {
  
  .toggleMenu {
    display: block;
  }

  .section__first {
    background-image: url('../img/Mask Group.jpg');
  }

  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  .h1  {
    font-size: 80px;

    &__subtitle {
      font-weight: 300;
    }
  }

  .scroll__more {
    display: none;
  }

  .section__second {
    padding: 70px 0;
  }

  .section__four__title__text,
  .section__four__email__info a{
    font-size: 35px;
  }

  .section__four__email {
    width: 482px;
  }
}

@media screen and (max-width: 576px) {

  
  .section__four__email {
    width: 345px;
}

  header {
    margin-top: 20px;
  }
  
  .logo {
    width: 100px;
  }

  .section__first {
    height: 520px;
    background-image: url('../img/Mask Group.jpg');
  }

  .section__second__info__img {
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  .h1  {
    font-size: 50px;
    line-height: 60px;
    margin: 60px 0 20px;

    &__subtitle {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
    }
  }

  .grid {
    padding: 0 15px;
  }

  .scroll__more {
    display: none;
  }

  h2 {
    font-size: 40px;
    line-height: normal;
  }

  .section__second {
    padding: 50px 0;
  }

  .h2__line {
    margin: 35px 0;
  }

  .section__second__info__img {
    margin-bottom: 30px;
  }
  
  .section__third {
    padding: 50px 0;
  }

  .advantages__item__title {
    font-size: 25px;
    width: auto;
  }

  .advantages {
    grid-gap: 50px;
    grid-template-columns: 290px;
  }

  .section__four {
    padding: 50px 0;
  }

  .form__input {
    width: 290px;
  }

  .section__four__title__text {
    font-size: 25px;
    line-height: 35px;
  }

  .form__button {
    width: 196px;
  }
  .section__four__title__text, .section__four__email__info a {
    font-size: 25px;
    word-break: break-word;
  }

  .section__four__grid { 
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .section__four__email {
    width: auto;
  }
}