@font-face {
  font-family: Sofia Pro;
  src: url("SofiaProBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Sofia Pro;
  src: url("SofiaProSemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Sofia Pro;
  src: url("SofiaProLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Sofia Pro;
  src: url("SofiaProRegular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

main {
  background-color: #f2f2f2;
}

button,
a {
  cursor: pointer;
}

.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 9px;
}

.hamburger__item {
  height: 2px;
  width: 25px;
  background-color: #000;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  width: 1110px;
}

.section__first {
  height: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/Group 212.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section__first__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 1920px;
}

header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style-type: none;
  margin: 0 66px;
}

header nav ul li:first-child, header nav ul li:last-child {
  margin: 0;
}

header nav ul li a {
  font-family: Sofia Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 6px 0;
}

header nav ul li a.active__menu {
  border-bottom: 1px solid #F6D330;
}

.h1 {
  margin-top: 320px;
  font-family: Alata;
  font-size: 115px;
  line-height: 130px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.h1__subtitle {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.contact {
  width: 196px;
  height: 48px;
  margin-top: 80px;
  background: #F9D023;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin: 70px auto 105px;
}

.contact__text {
  font-family: Sofia Pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 5px;
}

.lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lines__item {
  width: 1px;
  height: 15px;
  background: #fff;
}

.lines__item:nth-child(3) {
  height: 100px;
  background: #F6D330;
}

.scroll__more {
  margin-top: 29px;
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.aside {
  position: fixed;
  right: 0;
  top: calc(50% - 27px);
}

.aside__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
  -webkit-transition: 1s ease-out 0.5s;
  transition: 1s ease-out 0.5s;
}

.aside__item:last-child {
  margin: 0;
}

.aside__item__number {
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  margin-right: 5px;
}

.aside__item__name {
  display: none;
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  margin-right: 5px;
}

.aside__item__line {
  height: 1px;
  width: 21px;
  background: #FFFFFF;
}

.aside__item__active .aside__item__name {
  display: block;
}

.aside__item__active .aside__item__line {
  width: 60px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.aside__black .aside__item__number,
.aside__black .aside__item__name {
  color: #000;
}

.aside__black .aside__item__line {
  background-color: #000;
}

.section__second {
  background: #f2f2f2;
  padding: 100px 0 140px;
}

.section__second__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__second__info__img {
  margin-right: 68px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.section__second__info__text {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #0B0D21;
}

h2 {
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 100px;
  color: #000000;
}

.h2__line {
  margin: 50px 0 55px;
  height: 6px;
  width: 100px;
  background: #F6D330;
}

.toggleMenu {
  display: none;
  right: -100%;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.toggleMenu__active {
  right: 0;
}

.toggleMenu__header {
  background: #000;
  margin-top: 0;
  padding: 20px 15px;
}

.toggleMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - 48px - 69px - 70px);
}

.toggleMenu ul li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 25px;
}

.toggleMenu ul li:last-child {
  margin-bottom: 0;
}

.toggleMenu ul li a {
  font-family: Sofia Pro;
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  color: #000000;
}

.toggleMenu button {
  margin: 0 auto 69px;
}

.section__third {
  background: #F6D330;
  padding: 100px 0;
}

.section__third__h2 {
  color: #000;
}

.section__third__h2__line {
  background-color: #fff;
}

.section__third__arrow {
  margin: 40px 0 0 20px;
}

.section__third__text {
  width: 840px;
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #0B0D21;
  margin-bottom: 50px;
}

.section__third__text:last-child {
  margin-bottom: 0;
}

.advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(335px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
}

.advantages__item {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 50px;
}

.advantages__item__title {
  margin-bottom: 30px;
  font-family: Sofia Pro;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  width: 300px;
}

.advantages__item li {
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

.advantages__item li img {
  margin: 8px 15px 0 0;
}

.advantages__item li:last-child {
  margin-bottom: 0;
}

.advantages__item li span {
  color: #000;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #0B0D21;
}

.section__lines__container {
  position: absolute;
}

.section__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: -7.5px;
}

.section__lines__item {
  width: 1px;
  height: 15px;
  background-color: #000;
}

.section__four__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.section__four {
  padding: 100px 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__four__info {
  margin: 0 auto;
}

.section__four__h2 {
  color: #fff;
}

.section__four__h2__line {
  margin: 40px 0;
}

.section__four__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__four__email .section__four__title__text {
  margin-top: 0;
}

.section__four__email__info a {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  color: #FFFFFF;
}

.section__four__email__info {
  border-bottom: 3px solid #f9d330;
}

.section__four__email__info a {
  color: #f9d330;
}

.section__four__title__text {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  color: #FFFFFF;
  margin-top: 50px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

.form__input {
  width: 455px;
  height: 50px;
  font-family: Sofia Pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #000000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border: none;
  margin-bottom: 15px;
}

.form__input::-webkit-input-placeholder {
  color: #000;
}

.form__input:-ms-input-placeholder {
  color: #000;
}

.form__input::-ms-input-placeholder {
  color: #000;
}

.form__input::placeholder {
  color: #000;
}

.form__button {
  margin: 0;
  width: 272px;
}

@media screen and (max-width: 1130px) {
  .lines {
    display: none;
  }
  .aside {
    display: none;
  }
  .grid {
    padding: 0 20px;
    width: 100%;
  }
  .h1 {
    margin-top: 200px;
  }
  .section__lines__container {
    display: none;
  }
  .section__four__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__four__email__info {
    word-break: break-all;
  }
  .section__four__info:first-child {
    margin-right: 40px;
  }
  .section__four__info:last-child {
    margin-left: 40px;
  }
  .section__four__info {
    margin: 0 auto 0 0;
  }
}

@media screen and (max-width: 876px) {
  .section__four__email {
    width: 552px;
  }
  .section__four__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__four__info:first-child {
    margin-right: 0;
  }
  .section__four__info:last-child {
    margin-left: 0;
  }
  .section__third__text {
    width: auto;
  }
  .section__second__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__second__info__img {
    margin: 0;
    margin-bottom: 50px;
  }
  .section__second__info__text {
    text-align: justify;
  }
  .h1 {
    margin-top: 200px;
  }
}

@media screen and (max-width: 750px) {
  .toggleMenu {
    display: block;
  }
  .section__first {
    background-image: url("../img/Mask Group.jpg");
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display: none;
  }
  .h1 {
    font-size: 80px;
  }
  .h1__subtitle {
    font-weight: 300;
  }
  .scroll__more {
    display: none;
  }
  .section__second {
    padding: 70px 0;
  }
  .section__four__title__text,
  .section__four__email__info a {
    font-size: 35px;
  }
  .section__four__email {
    width: 482px;
  }
}

@media screen and (max-width: 576px) {
  .section__four__email {
    width: 345px;
  }
  header {
    margin-top: 20px;
  }
  .logo {
    width: 100px;
  }
  .section__first {
    height: 520px;
    background-image: url("../img/Mask Group.jpg");
  }
  .section__second__info__img {
    width: 100%;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display: none;
  }
  .h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 60px 0 20px;
  }
  .h1__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
  .grid {
    padding: 0 15px;
  }
  .scroll__more {
    display: none;
  }
  h2 {
    font-size: 40px;
    line-height: normal;
  }
  .section__second {
    padding: 50px 0;
  }
  .h2__line {
    margin: 35px 0;
  }
  .section__second__info__img {
    margin-bottom: 30px;
  }
  .section__third {
    padding: 50px 0;
  }
  .advantages__item__title {
    font-size: 25px;
    width: auto;
  }
  .advantages {
    grid-gap: 50px;
    -ms-grid-columns: 290px;
        grid-template-columns: 290px;
  }
  .section__four {
    padding: 50px 0;
  }
  .form__input {
    width: 290px;
  }
  .section__four__title__text {
    font-size: 25px;
    line-height: 35px;
  }
  .form__button {
    width: 196px;
  }
  .section__four__title__text, .section__four__email__info a {
    font-size: 25px;
    word-break: break-word;
  }
  .section__four__grid {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .section__four__email {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */